<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.roberto.camera">

    <!-- Permisos necesarios -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Camera">

        <!-- Actividad principal de la aplicación -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Camera">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Declaración de actividades adicionales -->
        <activity
            android:name=".LectorActivity"
            android:label="Lector de Códigos"
            android:theme="@style/Theme.Camera" />

        <activity
            android:name=".FotoActivity"
            android:label="Tomar Fotografía"
            android:theme="@style/Theme.Camera" />

        <activity
            android:name=".RegistroActivity"
            android:label="Registros"
            android:theme="@style/Theme.Camera" />

        <!-- CustomScannerActivity, usada para la cámara del lector de códigos -->
        <activity
            android:name=".CustomScannerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:exported="false" />

    </application>

</manifest>